.registration-form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registration-form form input,textarea{
    margin-bottom: 10px;
    width: 40%;
}